@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

a{
    text-decoration: none;
}

#insta {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 10px;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Hero Section */
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}


#hero{
    background-image: url("img/Beautiful-Island-Taihiti-HD-Wallpaper-Full-HD-1080p-HDTV.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}

#hero h1:nth-child(2){
    animation: text_reveal_traveler .5s ease forwards;
    animation-delay: 2s;
}

#hero h1:nth-child(1) span{
    animation-delay: .5;
}

#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: blueviolet;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#hero .cta{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    color: white;
    border: 2px solid blueviolet;
    border-radius: 15px;
    background-color: transparent;
    font-size: 2rem;
    margin-top: 10px;
    letter-spacing: .1rem;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

#hero .cta:hover{
    color: rgb(133, 205, 50);
    background-color: blueviolet;
}

#places .places{
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 100px 0;
}

#places .section.title{
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: blueviolet;
}


#places .places-top{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: 0.05rem;
}

#places .places-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#places .places-item{
    width: 400px;
    height: 300px;
    padding-top: 3rem;
    background-position: center;
    display: flex;
    color: white;
    border:1.3px solid #021a40;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 30px;
    border-radius: 10px;
    background-size: contain;
    margin: 10px 5%;
    transition: 0.3s;
    box-shadow: 0px 0px 18px 0 #000002;
}


#places .places-item:hover{
    transform: scale(1.8);
    box-shadow: none;
}

#places .berlin{
    background-image: url(img/IMG_1831.JPG);
}

#places .venice{
    background-image: url(img/P5070180.JPG);
}

#places .london{
    background-image: url(img/210505_209723619047329_942003_o.jpg);
}

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px;
    max-width: 1200px;
}

#about .col-left .about-img{
    position: relative;
    height: 100%;
    width: 100%;
    border: 8px solid white;
    object-fit: cover;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 33px;
    height: 98%;
    width: 98%;
    border: 7px solid blueviolet;
    z-index: -1;
}

#about img{
    width: inherit;
}

#about .col-left{
    height: 406px;
    width: 406px;
    margin-top: 40px;
}

#about .col-right{
    width: 40%;
    line-height: 2.5rem;
}

#about .col-right h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: .1rem;
    text-align: center;
}

#about .col-right p{
    font-weight: bold;
}

#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items{
    width: 450px;
    margin: auto;
    padding: 10px;
}

#contact .contact-item{
    width: 350px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #000002;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #000002;
}

#contact .icon{
    width: 85px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .icon img{
    width: 70px;
    height: 70px;
}

#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10;
}

#footer{
    text-align: center;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item{
    padding-top: 10px;
    margin-bottom: 0 5px;
    width: 60px;
    height: 60px;
}

#footer .social-item img{
    width: 50px;
    height: 50px;
}

#footer .social-item img{
    filter: grayscale(1);
    transition: .3 ease filter;
}

#footer .social-item:hover img{
    filter: grayscale(0);
}

#footer p{
    color: white;
    font-size: 1rem;
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}

@keyframes text_reveal_traveler{
    100%{
        color: white;
        font-weight: 500;
    }
}